#level5Container{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../Backgrounds/kitchen.png");
	opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

#foods{
	width: 70%;
	height: 50%;
	transition: 0.5s;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
}

#foods>*{
	position: absolute;
}

#stefan{
	width: 240px;
	height: 240px;
	position: fixed;
	bottom: 10px;
	background: url("../Characters/Stefan/Stefan-mild.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

#speechBubble{
	width: 530px;
	height: 185px;
	position: fixed;
	bottom: 180px;
	background: url("../images/speechBubble.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
}

p{
	text-align: center;
	margin-top: 15px;
	margin-left: 95px;
	margin-right: 45px;
}

#level{
	font-family: "pixelFatFont";
	color: white;
	font-size: 80px;
	position: fixed;
	top: 20px;
	left: 20px;
}

#mama{
	width: 240px;
	height: 240px;
	position: fixed;
	bottom: 0px;
	right: 100px;
	background: url("../Characters/Anette/Anette1.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	pointer-events: none;
}

#timeContainer{
	padding-top: 50px;
	pointer-events: none;
	opacity: 0;
}

.wrongBlinking{
	animation: blink 1s linear infinite;
}

@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}

.blinkMe{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes grow {
  to{
    transform: scale(1.65);
  }
}
