#level8Container{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../Backgrounds/level8.png");
	opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

#options{
	position: fixed;
	top: 300px;
	border-radius: 25px;
	width: 50%;
	transition: 0.5s;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 28px;
	color: white;
}

#option1:hover, #option2:hover{
	transition: all .2s ease-in-out;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#option1,#option2{
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#stefan{
	width: 240px;
	height: 240px;
	position: fixed;
	bottom: 0px;
	background: url("../Characters/Stefan/Stefan-mild.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	transform: scaleX(-1);
}

#bambi{
	width: 240px;
	height: 130px;
	position: fixed;
	top: 100px;
	background: url("../images/bambi.gif");
	background-position: center;
  background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
}

#title{
	position: fixed;
	top: 230px;
	opacity: 0;
	color: white;
	font-family: "pixelFatFont";
	font-size: 40px;
}

#speechBubble{
	width: 530px;
	height: 185px;
	position: fixed;
	bottom: 180px;
	background: url("../images/speechBubble.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
}

p{
	text-align: center;
	margin-top: 15px;
	margin-left: 95px;
	margin-right: 45px;
}

#level{
	font-family: "pixelFatFont";
	color: #B4D0E6;
	font-size: 80px;
	position: fixed;
	top: 20px;
	left: 20px;
}

#pia{
	width: 240px;
	height: 240px;
	position: fixed;
	bottom: 0px;
	right: 100px;
	background: url("../Characters/Pia/PiaSpeaks1.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	pointer-events: none;
	transform: scaleX(-1);
}

.wrongBlinking{
	animation: blink 1s linear infinite;
}

@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}

.blinkMe{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
