#level9Container{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../Backgrounds/office.png");
	opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

#tinder{
	width: 300px;
	height: 500px;
	background: url("../images/iphone.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	opacity: 0;
}

#cross{
	width: 35px;
	height: 35px;
	background: url("../images/cross.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 80px;
	bottom: 75px;
	cursor: pointer;
}

#star{
	width: 35px;
	height: 35px;
	background: url("../images/star.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 140px;
	bottom: 75px;
	cursor: pointer;
}

#heart{
	width: 35px;
	height: 35px;
	background: url("../images/heart.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 200px;
	bottom: 75px;
	cursor: pointer;
}

#imageContainer{
	width: 177px;
  height: 290px;
	background: url("../images/pinup1.jpeg");
	background-position: center;
  background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 70px;
  top: 73px;
}

#nameContainer{
	position: absolute;
	left: 70px;
  top: 305px;
}

#stefan{
	width: 240px;
	height: 240px;
	position: fixed;
	bottom: 0px;
	right: 100px;
	background: url("../Characters/Stefan/Stefan-mild.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

#rita{
	width: 240px;
	height: 240px;
	position: fixed;
	bottom: 0px;
	right: 400px;
	background: url("../Characters/Rita/Rita2.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	transform: scaleX(-1);
	pointer-events: none;

}

#speechBubble{
	width: 530px;
	height: 185px;
	position: fixed;
	bottom: 180px;
	right: 0px;
	background: url("../images/speechBubble.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
}

#hearts{
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: url("../images/heartConfetti.gif");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	pointer-events: none;
}

p{
	text-align: center;
	margin-top: 15px;
	margin-left: 95px;
	margin-right: 45px;
}

#level{
	font-family: "pixelFatFont";
	color: white;
	font-size: 80px;
	position: fixed;
	top: 20px;
	left: 20px;
}

.wrongBlinking{
	animation: blink 1s linear infinite;
}

@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}

.blinkMe{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes grow {
  to{
    transform: scale(1.65);
  }
}
