#level2Container{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../Backgrounds/level2Bg.gif");
	opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

#stefan{
	width: 240px;
	height: 240px;
	position: fixed;
	bottom: 700px;
	background: url("../Characters/Stefan/StefanLineLips.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
}

#speechBubble{
	width: 530px;
	height: 185px;
	position: fixed;
	bottom: 180px;
	background: url("../images/speechBubble.png");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
}

p{
	text-align: center;
	margin-top: 15px;
	margin-left: 95px;
	margin-right: 45px;
}

#lightBulb{
	bottom: 265px;
	width: 100px;
	height: 100px;
	position: fixed;
	border-radius: 100px;
	opacity: 0;
}

#level{
	font-family: "pixelFatFont";
	color: #5C5F82;
	font-size: 50px;
	position: fixed;
	top: 20px;
	left: 20px;
}

#stina{
	width: 240px;
	height: 240px;
	position: fixed;
	bottom: 20px;
	right: 100px;
	background: url("../Characters/Pernille/PernilleRooting.gif");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	pointer-events: none;
}

#letters{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 500px;
}
